<div layout="row" layout-align="center center" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;">
  <div layout="column" flex layout-align="center center" style="margin-top:100px; background:#fff; height:500px; width:200px">
      <md-card flex>

        
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Donate a free copy of Quran</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <img ng-src="./assets/svg/charity1.svg" class="md-card-image" alt="Washed Out">
          <p>share the</p>
        </md-card-content>
        <md-card-actions layout="column" layout-align="start">
          <md-button class="md-raised md-accent md-hue-1" ng-click="donate()">Donate</md-button>
        </md-card-actions>
      </md-card>
    </div>
  <div layout="column" flex layout-align="center center" style="margin-top:100px; background:#fff; height:500px; width:200px">
      <md-card flex>
        <md-card-header-text></md-card-header-text>
        
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Receive a free copy of Quran</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <img ng-src="./assets/svg/islam53.svg" class="md-card-image" alt="Washed Out">
          <p> {{ message }} </p>
        </md-card-content>
        <md-card-actions layout="column" layout-align="start">
          <md-button class="md-raised md-primary" ng-click="play()">Receive</md-button>
        </md-card-actions>
      </md-card>
</div>
</div>
